In [ ]:
import sqlite3
connection=sqlite3.connect('Cric.db')
c=connection.cursor()

In [ ]:
data="""CREATE TABLE CRICKETERS(
  firstname VARCHAR(25) PRIMARY KEY,
  lastname VARCHAR(25),
  age INTEGER,
  place_of_birth INTEGER,
  country VARCHAR(25)
)"""
c.execute(data)

In [ ]:
data="""INSERT INTO CRICKETERS VALUES("Shikhar","Dhawan",33,"Delhi","India");"""
c.execute(data)

In [ ]:
data="""INSERT INTO CRICKETERS VALUES("Jonathan","Trott",39,"Cape Town","SouthAfrica");"""
c.execute(data)

In [ ]:
data="""INSERT INTO CRICKETERS VALUES("Kumara","Sangakkara",41,"Matale","Srilanka");"""
c.execute(data)

In [ ]:
data="""INSERT INTO CRICKETERS VALUES("Virat","Kohli",30,"Delhi","India");"""
c.execute(data)

In [ ]:
data="""INSERT INTO CRICKETERS VALUES("Rohit","Sharma",32,"Nagpur","India");"""
c.execute(data)

In [ ]:
c.execute("SELECT * FROM CRICKETERS")

In [ ]:
hello = c.fetchall()
for i in hello:
  print(i)

('Shikhar', 'Dhawan', 33, 'Delhi', 'India')
('Jonathan', 'Trott', 39, 'Cape Town', 'SouthAfrica')
('Kumara', 'Sangakkara', 41, 'Matale', 'Srilanka')
('Virat', 'Kohli', 30, 'Delhi', 'India')
('Rohit', 'Sharma', 32, 'Nagpur', 'India')

In [ ]:
c.execute("SELECT firstname,age FROM CRICKETERS")

In [ ]:
hello = c.fetchall()
for i,j in hello:
  if j>35:
    print(i,"is age above 35")

Jonathan is age above 35
Kumara is age above 35

In [ ]:
c.execute("SELECT firstname FROM CRICKETERS ORDER BY firstname")

In [ ]:
hello=c.fetchall()
for i in hello:
  print(i)

('Jonathan',)
('Kumara',)
('Rohit',)
('Shikhar',)
('Virat',)

In [ ]:
c.execute("ALTER TABLE CRICKETERS ADD gender VARCHAR(25);")

In [ ]:
c.execute("SELECT * FROM CRICKETERS")

In [ ]:
hello=c.fetchall()
for i in hello:
  print(i)

('Shikhar', 'Dhawan', 33, 'Delhi', 'India', None)
('Jonathan', 'Trott', 39, 'Cape Town', 'SouthAfrica', None)
('Kumara', 'Sangakkara', 41, 'Matale', 'Srilanka', None)
('Virat', 'Kohli', 30, 'Delhi', 'India', None)
('Rohit', 'Sharma', 32, 'Nagpur', 'India', None)

In [ ]:
c.execute("DELETE FROM CRICKETERS WHERE age > 40")

In [ ]:
c.execute("SELECT * FROM CRICKETERS")
hello=c.fetchall()
for i in hello:
  print(i)

('Shikhar', 'Dhawan', 33, 'Delhi', 'India', None)
('Jonathan', 'Trott', 39, 'Cape Town', 'SouthAfrica', None)
('Virat', 'Kohli', 30, 'Delhi', 'India', None)
('Rohit', 'Sharma', 32, 'Nagpur', 'India', None)

In [ ]:
import webbrowser
f = open('helloworld.html','w')
message = """<html>
  <body> 
    <h1>My First Web Page</h1>
    <h3>Headings are Great Fun</h3>
    <p>This is my first paragraph in my new webpage. This is going to be great. I am so excited i can hardly contain <b>myself</b>. Dont you just love paragraphs? I <br/>find them very useful.</p>
    <h3>Web Pages Are Exciting Too</h3>
    <p>Yes , thats right - web pages can be a lot of fun. Learning how to create web pages is easy and <b>entertaining</b>. This is my seconf paragraph. I hope you like<br/> it.</p>
    <br/>
    <a href="https://www.google.com/">Link to Google</a>
    <ul>
      <li>Apples</li>
      <li>Bananas</li>
      <li>Pears</li>
      <li>Oranges</li>
      <li>Grapes</li>
    </ul>
    <p>"A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away" -Saint <br/>Exupery</p>
  </body>
</html>"""
f.write(message)

877

In [ ]:
f.close()

In [ ]:
import IPython
IPython.display.HTML(filename='helloworld.html')